body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fb;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #2D3E50;
  margin-bottom: 30px;
}

#malla {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.semestre {
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 15px;
  width: 280px
